* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {

    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
}

section .wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4973ff;
}

section .wave span {
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    background: #000;
    transform: translate(-50%, -75%);

}

section .wave span:nth-child(1) {
    animation: animate 5s linear infinite;
    border-radius: 50%;
    background: rgba(20, 20, 20, 1);
}

section .wave span:nth-child(2) {
    animation: animate 10s linear infinite;
    border-radius: 43%;
    background: rgba(20, 20, 20, .5);
}

section .wave span:nth-child(3) {
    animation: animate 15s linear infinite;
    border-radius: 45%;
    background: rgba(20, 20, 20, .5);
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%)rotate(0deg);

    }

    100% {
        transform: translate(-50%, -75%)rotate(360deg);

    }
}

section .content {
    position: relative;
    color: white;
    z-index: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:90%;
    align-items: center;
    /* font-size: 2em; */
    /* font-family: cursive; */
    /* text-transform: uppercase; */
}


#menuja{

    background-color: black;
    width:100%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-weight:550;
    z-index: 99;
    gap:5rem;
    color:white !important;
    background-color:black !important;
    padding-left:2%;
    padding-right:2%;

}
nav{
    width:100%;
}
.nav-link {
  color:white;
}

nav ul{
    gap:2rem;
}

.navbar-collapse{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-nav{
    justify-content: flex-end;
    color:white;
}

#menuja a:hover{
  color:white;
  text-decoration: underline;
  text-decoration-color: white;
}


.activated{
  color:white !important;
  text-decoration: underline;
  text-decoration-color: white;
}

.main-logo{
    height:2rem;
  }
  
  .navbar-brand{
    padding-left:1%;
  }
  
.mainbutton{
    background-color: #4973ff;
}

.mainbutton:hover{
    background-color: #2e5efd;
}

#contact-btn {
    background-color: #4973ff !important;
    border-radius: 50px;
    color: white !important;
    border: 3px solid #0038f1 !important;
    font-size: 0.9rem !important;
    /* font-family: "Bungee"; */
    padding: 10%;
    width:5rem;
    /* padding-left:5% !important; */
    text-align: center;
    transition: transform 0.3s ease; /* Smooth transition */
}

#contact-btn:hover {
    animation: wobble 1s ease-in-out;
}

@keyframes wobble {
    16.65% {
        transform: translateX(8px);
    }
    33.3% {
        transform: translateX(-6px);
    }
    49.95% {
        transform: translateX(4px);
    }
    66.6% {
        transform: translateX(-2px);
    }
    83.25% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}


@media screen and (max-width: 991.5px){

    .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }
    
    
    #menuja{
      /* display: flex;
      flex-direction: row-reverse;
      width:100%;
      justify-content: space-between; */
      /* width:100%; */
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:1rem;
      justify-items: end;
      align-items:center !important;
      padding-bottom:3%;
      padding-top:3%;
      padding-left:0;
      padding-right:0;
      /* background-color: skyblue !important; */
    }
      .nav-logo {
        grid-column: 2/3;
        align-self: center;
          display: flex;
          align-items: center;
          justify-content: center;
      }
    
      .navbar{
        position:absolute;
        top:0.5rem;
        overflow: hidden;
        /* width: 100%; */
        font-weight: 500;
        background-color:#93977500;
        /* order: -1;
        z-index: 9; */
        grid-column: 3/4;
        padding-bottom:0;
        padding-top:0;
        justify-self: end;
    
    }
    
    .container-fluid{
      padding-right:0;

    }
    
    
    
    .navbar-toggler {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      /* padding-top:0; */
    }
    
      .navbar-nav{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items:center;
          justify-self: end;
          gap:0.5rem;
          width:100%;
          padding-top: 2rem;
          height:100vh;
          background-color: #000000a8;
          color:white !important;
          font-size: 0.8rem;
          font-weight: 600;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-right:0 !important;
      }
    
      .mainbutton{
        /* padding:5%; */
        padding-left:2% !important;
        padding-right:2% !important;
        width:100%;
      }
      nav.navbar.navbar-expand-lg{
        justify-self: end;
      }
      .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    justify-content: end;
}
  }

.headline{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .wrapper {
    height: fit-content;
    display: grid;
    place-items: center;
    color: #00FF00;
}

.typing-demo {
    width: 19ch;
    animation: typing 3s steps(19) forwards, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 19ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


   
h1{
    text-align: center;
}
.flex-container{
    display:flex;
    flex-direction: column;
}

.flex-item{
    padding:5%;
    /* height:100vh; */
}

.about{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:5rem;

}


.about-leftside{
    width:30%;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:0;

}

.about-rightside{
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:2%;
    margin-top:2%;
    /* text-align: left; */
    box-shadow: 0 0 20px 2px rgba(0, 255, 0, 0.205);
    border-radius:10px;
    animation: pulseShadow 3s infinite ease-in-out;
    padding-bottom:1%;

}


@keyframes pulseShadow {
    0% {
        box-shadow: 0 0 20px 2px rgba(0, 255, 0, 0.272);
    }
    50% {
        box-shadow: 0 0 30px 2px rgba(0, 255, 0, 0.1); /* Larger shadow with softer opacity */
    }
    100% {
        box-shadow: 0 0 20px 2px rgba(0, 255, 0, 0.272);
    }
}
.btn-group{
    /* display:flex;
    gap:10%;
    width:60%; */
    /* justify-content: start; */
}

.cv-btn{
    border: 2px solid #4973ff;
    width: 10% ;
    border-radius: 8px;
    background-color: #4973ff;
    color:white;
}

.cv-btn:hover{
    background-color: #00FF00;
    color:black;
}

.touch-btn{
    border: 2px solid #4973ff;
    width: 10% ;
    border-radius: 8px;
}


.touch-btn:hover{
    background-color: #4973ff;
    color:#00FF00;
}
video{
    height:5rem;
    align-self: center;
}

.box {
	/* padding: 4.5em 0; */
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
    z-index:-2;
}


/* Common button styles */
.button {
	float: left;
	/* min-width: 150px; */
	/* max-width: 250px; */
	display: block;
	margin: 1em;
	padding: 1em 1em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	/* z-index: 1; */
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
    font-size: 0.75rem !important;

	
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}


/* Typography and Roundedness */
.button--text-upper {
	letter-spacing: 2px;
	text-transform: uppercase;
}


.button--text-thick {
	font-weight: 600;
}


.button--round-l {
	border-radius: 40px;
}


        /* Pipaluk */
.button--pipaluk {
	/* width: 240px; */
	padding: 1.5em 2.5em;
	/* color: #fff; */
}
.button--pipaluk.button--inverted {
	color: white;
}
.button--pipaluk::before,
.button--pipaluk::after {
	content: '';
	border-radius: inherit;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
}
.button--pipaluk::before {
	border: 2px solid #4973ff;
}
.button--pipaluk.button--inverted::before {
	border-color: #4973ff;
}
.button--pipaluk::after {
	background: white;
}
.button--pipaluk.button--inverted::after {
	background: #4973ff;
}
.button--pipaluk:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);

}
.button--pipaluk::before,
.button--pipaluk:hover::after {
	-webkit-transform: scale3d(0.7, 0.7, 1);
	transform: scale3d(0.7, 0.7, 1);

}
.button--pipaluk:hover::after {
	background-color: white;

}
.button--pipaluk.button--inverted:hover::after {
	background-color: #88a4ff;
    border-color: #003bfc;
}


#three{
    background-color: black;
    height:100vh;
    /* padding-top:0; */
    /* padding-bottom:0; */
}

#myCanvasContainer {
	background: #000;
}

h1.header {
	color: #08fdd8;
}

.skills-container{
    display:flex;
    flex-direction: row;
    gap:9rem;
    width:100%;
    height:90vh;
    align-items: center !important;
    justify-content: center;
    position: relative;
}

.header{
    width:20%;
}

#tags{
    position: absolute;
  left: -9999px;
  /* font-size:0.5rem; */
}

#myCanvasContainer{
    width:60%;
    margin: 0 auto;
    /* height:100%; */
}


#myCanvas{
    width:100%;
    height:70vh;
    font-size: 5rem;
}

#myCanvasContainer {
    width: 60%;
    /* height: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #myCanvas {
    width: 400%;
    /* height: 100%; */
  }
  
